Repository dkpro/dkpro-core, pull requests merged in 2018-07, with the labels that each got.

#1254 CoreNLP Arabic model packaging
  dkpro-core-corenlp-gpl/src/scripts/build.xml
Labels: Module-corenlp, 🆕Enhancement

#1256 CoreNLP Segmentation options
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpSegmenter.java
  dkpro-core-corenlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpSegmenterTest.java
Labels: Module-corenlp, 🐛Bug

#1248 Links to some corpora are outdated
  dkpro-core-doc/src/main/asciidoc/format-reference/sectionIntroConll2006.adoc
Labels: Module-doc, 🐛Bug

#1243 #825 - Upgrade Illinois components
  dkpro-core-lbj-asl/pom.xml
  dkpro-core-lbj-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisStatefulSegmenter.java
  dkpro-core-lbj-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisPosTaggerTest.java
  dkpro-core-lbj-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisStatefulSegmenterTest.java
  dkpro-core-lbj-asl/src/test/resources/log4j.properties
Labels: Module-lbj, 🆕Enhancement

#1249 Updating reference data in disabled TreeTagger unit test
  dkpro-core-treetagger-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerPosTaggerTest.java
Labels: Module-treetagger, 🐛Bug

#1250 Conll writers with coveredText parameter option
  dkpro-core-api-parameter-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/parameter/ComponentParameters.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2000Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2002Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2003Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2006Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2008Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2009Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2012Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/ConllUWriter.java
Labels: Module-io.conll, 🆕Enhancement

#1260 #1259 - Improve component metadata (1.10.0)
  dkpro-core-io-brat-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/brat/BratReader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2000Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2002Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2003Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2006Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2008Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2009Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2012Writer.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/ConllUWriter.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/WebannoTsv3XReader.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/WebannoTsv3XWriter.java
Labels: 🆕Enhancement

#1258 #1251 - Upgrade to OpenNLP 1.9.0
  dkpro-core-opennlp-asl/pom.xml
Labels: Module-opennlp, 🆕Enhancement

#1257 #1252 - Upgrade to LanguageTool 4.2
  dkpro-core-languagetool-asl/pom.xml
Labels: Module-languagetool, 🆕Enhancement

#1262 #1261 - Upgrade PdfReader to a more recent PdfBox version
  dkpro-core-io-pdf-asl/NOTICE.txt
  dkpro-core-io-pdf-asl/pom.xml
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/PdfReader.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/Buckets.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/LegacyPDFStreamEngine.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/Pdf2CasConverter.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/PdfLayoutEventStripper.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/SubstitutionTrieParser.java
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/internal/Trie.java
Labels: Module-io.pdf, ⚙️Refactoring

#1255 Arabic segmentation with CoreNLP
  dkpro-core-api-resources-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/resources/ResourceObjectProviderBase.java
  dkpro-core-corenlp-gpl/pom.xml
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpSegmenter.java
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tokenizer-de-none.properties
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tokenizer-default-variants.map
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tokenizer-en-none.properties
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tokenizer-es-none.properties
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tokenizer-fr-none.properties
  dkpro-core-corenlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpSegmenterTest.java
Labels: Module-corenlp, 🆕Enhancement

#1264 #1263 - Upgrade to CoreNLP 3.9.1
  dkpro-core-corenlp-gpl/pom.xml
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpCoreferenceResolver.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpNamedEntityRecognizer.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/internal/DKPro2CoreNlp.java
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/ner-de-germeval2014.hgc_175m_600.crf.map
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/ner-default-variants.map
  dkpro-core-corenlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/corenlp/lib/tagger-default-variants.map
  dkpro-core-corenlp-gpl/src/scripts/build.xml
  dkpro-core-corenlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpDependencyParserTest.java
  dkpro-core-corenlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpNamedEntityRecognizerTest.java
  dkpro-core-corenlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpPosTaggerTest.java
  dkpro-core-stanfordnlp-gpl/pom.xml
  dkpro-core-stanfordnlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/lib/ner-de-germeval2014.hgc_175m_600.crf.map
  dkpro-core-stanfordnlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/lib/ner-default-variants.map
  dkpro-core-stanfordnlp-gpl/src/main/resources/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/lib/tagger-default-variants.map
  dkpro-core-stanfordnlp-gpl/src/scripts/build.xml
  dkpro-core-stanfordnlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordNamedEntityRecognizerTest.java
  dkpro-core-stanfordnlp-gpl/src/test/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordPosTaggerTest.java
Labels: Module-corenlp, Module-stanfordnlp, 🆕Enhancement

#1269 #1267 - TreeTaggerChunker requires PARAM_MODEL_ENCODING
  dkpro-core-treetagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerChunker.java
Labels: Module-treetagger, 🆕Enhancement
