Repository dkpro/dkpro-core, pull requests merged in 2018-05, with the labels that each got.

#1229 #1228 - Problem with model auto-loading in CoreNLP
  dkpro-core-api-resources-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/resources/ResourceObjectProviderBase.java
  dkpro-core-api-resources-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/api/resources/ResourceObjectProviderTest.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpSegmenter.java
Labels: Module-api.resources, 🐛Bug

#1230 Feature/1222 improve component metadata
  pom.xml
Labels: 🆕Enhancement

#1232 Feature/1231 pdfreader creates annotations with leading trailing whitespace
  dkpro-core-api-segmentation-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/segmentation/SegmenterBase.java
  dkpro-core-io-cermine-gpl/src/main/java/org/dkpro/core/io/cermine/CerminePdfReader.java
  dkpro-core-io-cermine-gpl/src/test/resources/reference/test-normalized-nocitations-noRefSection.dump
  dkpro-core-io-cermine-gpl/src/test/resources/reference/test-normalized-nocitations.dump
  dkpro-core-io-cermine-gpl/src/test/resources/reference/test-normalized.dump
  dkpro-core-io-cermine-gpl/src/test/resources/reference/test.dump
  dkpro-core-io-pdf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/pdf/Pdf2CasConverter.java
  dkpro-core-io-pdf-asl/src/test/resources/reference/test.dump
Labels: Module-io.cermine, Module-io.pdf, 🐛Bug

#1233 #1222 - Improve component metadata (1.9.2)
  dkpro-core-api-io-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/io/FileSetCollectionReaderBase.java
  dkpro-core-api-io-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/io/ResourceCollectionReaderBase.java
  dkpro-core-api-parameter-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/parameter/ComponentParameters.java
  dkpro-core-arktools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/arktools/ArktweetPosTagger.java
  dkpro-core-berkeleyparser-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/berkeleyparser/BerkeleyParser.java
  dkpro-core-clearnlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/clearnlp/ClearNlpLemmatizer.java
  dkpro-core-clearnlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/clearnlp/ClearNlpParser.java
  dkpro-core-clearnlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/clearnlp/ClearNlpPosTagger.java
  dkpro-core-clearnlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/clearnlp/ClearNlpSegmenter.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpDependencyParser.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpNamedEntityRecognizer.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpParser.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpPosTagger.java
  dkpro-core-decompounding-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/decompounding/uima/resource/SharedDictionary.java
  dkpro-core-decompounding-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/decompounding/uima/resource/SharedLinkingMorphemes.java
  dkpro-core-flextag-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/flextag/FlexTagPosTagger.java
  dkpro-core-gate-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/gate/GateLemmatizer.java
  dkpro-core-hunpos-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/hunpos/HunPosTagger.java
  dkpro-core-io-bliki-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/bliki/BlikiWikipediaReader.java
  dkpro-core-io-combination-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/combination/CombinationReader.java
  dkpro-core-io-jdbc-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/jdbc/JdbcReader.java
  dkpro-core-io-jwpl-asl/pom.xml
  dkpro-core-io-jwpl-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/jwpl/WikipediaReaderBase.java
  dkpro-core-io-negra-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/negra/NegraExportReader.java
  dkpro-core-io-text-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/text/StringReader.java
  dkpro-core-io-xml-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/xml/XmlReader.java
  dkpro-core-ixa-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/ixa/IxaLemmatizer.java
  dkpro-core-lancaster-asl/src/main/java/org/dkpro/core/lancaster/LancasterStemmer.java
  dkpro-core-langdetect-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/langdetect/LangDetectLanguageIdentifier.java
  dkpro-core-lingpipe-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lingpipe/LingPipeNamedEntityRecognizer.java
  dkpro-core-lingpipe-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lingpipe/LingPipePosTagger.java
  dkpro-core-maltparser-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/maltparser/MaltParser.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MateLemmatizer.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MateMorphTagger.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MateParser.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MatePosTagger.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MateSemanticRoleLabeler.java
  dkpro-core-mstparser-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/mstparser/MstParser.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JDependencyParser.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JNamedEntityRecognizer.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JPosTagger.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpChunker.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpLemmatizer.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpNamedEntityRecognizer.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpParser.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpPosTagger.java
  dkpro-core-rftagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/rftagger/RfTagger.java
  dkpro-core-sfst-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/sfst/SfstAnnotator.java
  dkpro-core-stanfordnlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordNamedEntityRecognizer.java
  dkpro-core-stanfordnlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordParser.java
  dkpro-core-stanfordnlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordPosTagger.java
  dkpro-core-treetagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerChunker.java
  dkpro-core-treetagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerPosTagger.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/UDPipeParser.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/UDPipePosTagger.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/UDPipeSegmenter.java
Labels: 🆕Enhancement

#1237 Feature/1236 remove param intern tags
  dkpro-core-api-io-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/io/BilouDecoder.java
  dkpro-core-api-io-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/io/IobDecoder.java
  dkpro-core-api-parameter-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/parameter/ComponentParameters.java
  dkpro-core-berkeleyparser-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/berkeleyparser/BerkeleyParser.java
  dkpro-core-clearnlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/clearnlp/ClearNlpPosTagger.java
  dkpro-core-cogroo-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/cogroo/CogrooPosTagger.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpDependencyParser.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpNamedEntityRecognizer.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpParser.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/CoreNlpPosTagger.java
  dkpro-core-corenlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/corenlp/internal/CoreNlp2DKPro.java
  dkpro-core-gate-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/gate/HepplePosTagger.java
  dkpro-core-hunpos-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/hunpos/HunPosTagger.java
  dkpro-core-io-ancora-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/ancora/AncoraReader.java
  dkpro-core-io-bnc-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/bnc/BncReader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2000Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2002Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2003Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2006Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2008Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2009Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/Conll2012Reader.java
  dkpro-core-io-conll-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/conll/ConllUReader.java
  dkpro-core-io-lif-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/lif/internal/Lif2DKPro.java
  dkpro-core-io-negra-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/negra/NegraExportReader.java
  dkpro-core-io-nif-asl/src/main/java/org/dkpro/core/io/nif/internal/Nif2DKPro.java
  dkpro-core-io-penntree-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/penntree/PennTreeToJCasConverter.java
  dkpro-core-io-penntree-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/penntree/PennTreebankCombinedReader.java
  dkpro-core-io-tiger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/tiger/TigerXmlReader.java
  dkpro-core-io-tuebadz-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/tuebadz/TuebaDZReader.java
  dkpro-core-io-tuepp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/tuepp/TueppReader.java
  dkpro-core-lbj-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisChunker.java
  dkpro-core-lbj-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisNamedEntityRecognizer.java
  dkpro-core-lbj-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lbj/IllinoisPosTagger.java
  dkpro-core-lbj-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lbj/internal/ConvertToUima.java
  dkpro-core-lingpipe-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/lingpipe/LingPipePosTagger.java
  dkpro-core-matetools-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/matetools/MatePosTagger.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JDependencyParser.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JNamedEntityRecognizer.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/Nlp4JPosTagger.java
  dkpro-core-nlp4j-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/nlp4j/internal/EmoryNlp2Uima.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpChunker.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpParser.java
  dkpro-core-opennlp-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/opennlp/OpenNlpPosTagger.java
  dkpro-core-stanfordnlp-gpl/src/main/java/de/tudarmstadt/ukp/dkpro/core/stanfordnlp/StanfordPosTagger.java
  dkpro-core-treetagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerChunker.java
  dkpro-core-treetagger-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerPosTagger.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/UDPipeParser.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/UDPipePosTagger.java
  dkpro-core-udpipe-asl/src/main/java/org/dkpro/core/udpipe/internal/UDPipe2DKPro.java
Labels: Module-api.parameter, 🆕Enhancement

#1227 #1226 - Upgrade to Apache Tika 1.18
  dkpro-core-api-io-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/io/sequencegenerator/PhraseSequenceGenerator.java
  dkpro-core-io-tika-asl/pom.xml
  dkpro-core-io-tika-asl/src/main/java/org/dkpro/core/io/tika/TikaReader.java
  dkpro-core-io-tika-asl/src/test/java/org/dkpro/core/io/tika/TikaReaderTest.java
  dkpro-core-io-tika-asl/src/test/resources/doc/test.doc
  dkpro-core-io-tika-asl/src/test/resources/log4j.properties
Labels: Module-io.tika, 🆕Enhancement

#1219 #1218 - Basic support for PubAnnotation format
  dkpro-core-api-parameter-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/parameter/MimeTypes.java
  dkpro-core-asl/pom.xml
  dkpro-core-io-pubannotation-asl/LICENSE.txt
  dkpro-core-io-pubannotation-asl/pom.xml
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/PubAnnotationReader.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/PubAnnotationWriter.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/DKPro2PubAnnotation.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/PubAnnotation2DKPro.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PADenotation.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PADocument.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PAModification.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PANamespace.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PAOffsets.java
  dkpro-core-io-pubannotation-asl/src/main/java/org/dkpro/core/io/pubannotation/internal/model/PARelation.java
  dkpro-core-io-pubannotation-asl/src/test/java/org/dkpro/core/io/pubannotation/PubAnnotationReaderWriterTest.java
  dkpro-core-io-pubannotation-asl/src/test/resources/pubannotation/SPECIES800/19667393-ref-ns.json
  dkpro-core-io-pubannotation-asl/src/test/resources/pubannotation/SPECIES800/19667393-ref.json
  dkpro-core-io-pubannotation-asl/src/test/resources/pubannotation/SPECIES800/19667393.json
  dkpro-core-io-pubannotation-asl/src/test/resources/pubannotation/SPECIES800/README.txt
Labels: Module-io.pubannotation, 🆕Enhancement

#1241 #1240 - Ensures DictionaryAnnotator matches all token
  dkpro-core-dictionaryannotator-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/dictionaryannotator/DictionaryAnnotator.java
  dkpro-core-dictionaryannotator-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/dictionaryannotator/DictionaryAnnotatorTest.java
Labels: Module-dictionaryannotator, 🐛Bug
