Repository dkpro/dkpro-core, pull requests merged in 2019-04, with the labels that each got.

#1326 #1325 avoid datasets being extracted outside their target directory
  dkpro-core-api-datasets-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/datasets/DatasetLoader.java
  dkpro-core-api-datasets-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/datasets/internal/actions/Explode.java
Labels: Module-api.datasets, 🐛Bug

#1310 #1305 - Update TreeTagger models in build.xml
  dkpro-core-treetagger-asl/pom.xml
  dkpro-core-treetagger-asl/src/scripts/build.xml
  dkpro-core-treetagger-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/treetagger/TreeTaggerPosTaggerTest.java
Labels: Module-treetagger, 🐛Bug

#1351 #1342 - Drop GRAF module
  dkpro-core-asl/pom.xml
  dkpro-core-io-graf-asl/LICENSE.txt
  dkpro-core-io-graf-asl/pom.xml
  dkpro-core-io-graf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/graf/GrafReader.java
  dkpro-core-io-graf-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/graf/GrafWriter.java
  dkpro-core-io-graf-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/io/graf/GrafReaderWriterTest.java
  dkpro-core-io-graf-asl/src/test/java/de/tudarmstadt/ukp/dkpro/core/io/graf/GrafWriterTest.java
  dkpro-core-io-graf-asl/src/test/resources/META-INF/org.apache.uima.fit/typepriorities.txt
  dkpro-core-io-graf-asl/src/test/resources/desc/typepriorities/priorities.xml
  dkpro-core-io-graf-asl/src/test/resources/log4j.properties
  dkpro-core-io-graf-asl/src/test/resources/reference/example1.txt.xml
  dkpro-core-io-graf-asl/src/test/resources/texts/example1.txt
Labels: Module-io.graf, ⚙️Refactoring

#1352 #1341 - Drop Fangorn module
  dkpro-core-asl/pom.xml
  dkpro-core-illinoisnlp-asl/pom.xml
  dkpro-core-io-fangorn-asl/LICENSE.txt
  dkpro-core-io-fangorn-asl/pom.xml
  dkpro-core-io-fangorn-asl/src/main/java/org/dkpro/core/io/fangorn/FangornWriter.java
  dkpro-core-io-fangorn-asl/src/test/java/org/dkpro/core/io/fangorn/FangornWriterTest.java
Labels: ⚙️Refactoring

#1344 #1343 - Segmenter for Chinese
  dkpro-core-asl/pom.xml
  dkpro-core-jieba-asl/LICENSE.txt
  dkpro-core-jieba-asl/pom.xml
  dkpro-core-jieba-asl/src/main/java/org/dkpro/core/jieba/JiebaSegmenter.java
  dkpro-core-jieba-asl/src/test/java/org/dkpro/core/jieba/JiebaSegmenterTest.java
Labels: Module-jieba, 🆕Enhancement
