Repository dkpro/dkpro-core, pull requests merged in 2019-08, with the labels that each got.

#1403 #1402 - Trimming does not work properly
  dkpro-core-api-segmentation-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/segmentation/TrimUtils.java
  dkpro-core-api-segmentation-asl/src/main/java/org/dkpro/core/api/segmentation/SegmenterBase.java
  dkpro-core-api-segmentation-asl/src/test/java/org/dkpro/core/api/segmentation/TrimTest.java
  dkpro-core-api-segmentation-asl/src/test/java/org/dkpro/core/api/segmentation/TrimUtilsTest.java
  dkpro-core-icu-asl/src/main/java/org/dkpro/core/icu/IcuSegmenter.java
  dkpro-core-io-cermine-gpl/src/main/java/org/dkpro/core/io/cermine/CerminePdfReader.java
  dkpro-core-io-html-asl/src/main/java/org/dkpro/core/io/html/HtmlDocumentReader.java
  dkpro-core-io-html-asl/src/main/java/org/dkpro/core/io/html/HtmlReader.java
  dkpro-core-io-pdf-asl/src/main/java/org/dkpro/core/io/pdf/internal/Pdf2CasConverter.java
  dkpro-core-tokit-asl/src/main/java/org/dkpro/core/tokit/BreakIteratorSegmenter.java
Labels: Module-api.segmentation, Module-io.html, 🐛Bug

#1401 #1399 - Named Entities in LIF wrongly encoded
  dkpro-core-io-lif-asl/src/main/java/org/dkpro/core/io/lif/internal/DKPro2Lif.java
  dkpro-core-io-lif-asl/src/main/java/org/dkpro/core/io/lif/internal/Lif2DKPro.java
  dkpro-core-io-lif-asl/src/test/java/org/dkpro/core/io/lif/LifReaderWriterTest.java
  dkpro-core-io-lif-asl/src/test/resources/lif/specification-ner-ref.lif
  dkpro-core-io-lif-asl/src/test/resources/lif/specification-ner.lif
Labels: Module-io.lif, 🆕Enhancement

#1400 #81 - Check usefulness of Tag type
  dkpro-core-api-syntax-asl/src/main/resources/META-INF/org.apache.uima.fit/types.txt
  dkpro-core-api-syntax-asl/src/main/resources/desc/type/Tag.xml
  dkpro-core-stanfordnlp-gpl/src/main/java/org/dkpro/core/stanfordnlp/util/StanfordAnnotator.java
Labels: Module-api.syntax, ⚙️Refactoring

#1406 #1404 - JDK 12 processes XML differently
  .gitignore
  dkpro-core-asl/pom.xml
  dkpro-core-io-html-asl/pom.xml
  dkpro-core-io-html-asl/src/main/java/org/dkpro/core/io/html/HtmlDocumentReader.java
  dkpro-core-io-html-asl/src/test/java/org/dkpro/core/io/html/HtmlDocumentReaderTest.java
  dkpro-core-io-html-asl/src/test/resources/html/test-document.xml
  dkpro-core-io-xml-asl/src/main/java/org/dkpro/core/io/xml/XmlDocumentWriter.java
Labels: Module-api.xml, Module-io.html, Module-io.xml, 🐛Bug

#1407 #1405 - Upgrade to UIMA 3.1.0
  dkpro-core-api-xml-asl/src/main/java/org/dkpro/core/api/xml/Cas2SaxEvents.java
  pom.xml
Labels: ⚙️Refactoring
