Repository dkpro/dkpro-core, pull requests merged in 2019-03, with the labels that each got.

#1333 #1308 - integrate mystem
  dkpro-core-asl/pom.xml
  dkpro-core-mystem-asl/LICENSE.txt
  dkpro-core-mystem-asl/pom.xml
  dkpro-core-mystem-asl/src/main/java/org/dkpro/core/mystem/MyStemStemmer.java
  dkpro-core-mystem-asl/src/scripts/build.xml
  dkpro-core-mystem-asl/src/test/java/org/dkpro/core/mystem/MyStemStemmerTest.java
Labels: Module-mystem, 🆕Enhancement

#1335 #1322 - Upgrade to OpenNLP 1.9.1
  dkpro-core-opennlp-asl/pom.xml
Labels: Module-opennlp, 🆕Enhancement

#1334 Bugfix/1329 span annotations with slot features may disappear from web anno tsv
  dkpro-core-api-parameter-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/api/parameter/MimeTypes.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/WebannoTsv3XReader.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/WebannoTsv3XWriter.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/internal/tsv3x/Tsv3XCasDocumentBuilder.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/internal/tsv3x/Tsv3XDeserializer.java
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/internal/tsv3x/Tsv3XSerializer.java
  dkpro-core-io-webanno-asl/src/test/java/org/dkpro/core/io/webanno/tsv/WebAnnoTsv3WriterTestBase.java
  dkpro-core-io-webanno-asl/src/test/resources/desc/type/webannoTestTypes.xml
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/sampleSlotAnnotation2/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testStackedComplexSlotFeatureWithoutSlotFillers/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testUnsetSlotFeature/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testUnsetSlotFeature/reference.xmi
Labels: Module-io.webanno, 🐛Bug

#1339 #1338 - Factor CAS <-> brat conversion code into Pojos
  dkpro-core-io-brat-asl/pom.xml
  dkpro-core-io-brat-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/brat/BratWriter.java
  dkpro-core-io-brat-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/brat/DKPro2Brat.java
Labels: Module-io.brat, ⚙️Refactoring
