Repository dkpro/dkpro-core, pull requests merged in 2019-06, with the labels that each got.

#1371 #1327 - Update LIF support
  dkpro-core-io-lif-asl/pom.xml
  dkpro-core-io-lif-asl/src/test/resources/lif/stanford-pos-ref.lif
Labels: Module-io.lif, 🆕Enhancement

#1370 #1367 - Support TCF orthography via SofaChangeAnnotations
  dkpro-core-io-tcf-asl/pom.xml
  dkpro-core-io-tcf-asl/src/main/java/org/dkpro/core/io/tcf/TcfReader.java
  dkpro-core-io-tcf-asl/src/main/java/org/dkpro/core/io/tcf/TcfWriter.java
Labels: Module-io.tcf, 🆕Enhancement

#1366 Added support in CONLL-U reader for document and paragraph IDs
  dkpro-core-io-conll-asl/pom.xml
  dkpro-core-io-conll-asl/src/main/java/org/dkpro/core/io/conll/ConllUReader.java
  dkpro-core-io-conll-asl/src/test/java/org/dkpro/core/io/conll/ConllUReaderTest.java
  dkpro-core-io-conll-asl/src/test/resources/conll/u_v2/conllu-multiple_document_IDs.conll
  dkpro-core-io-conll-asl/src/test/resources/conll/u_v2/conllu-multiple_paragraphs.conll
Labels: Module-io.conll, 🆕Enhancement

#1373 #1152 - Introduce "order" feature on tokens
  dkpro-core-api-segmentation-asl/src/main/resources/desc/type/LexicalUnits_customized.xml
  dkpro-core-castransformation-asl/src/test/resources/output.txt
  dkpro-core-io-bnc-asl/src/test/resources/FX8.xml.dump
  dkpro-core-io-brat-asl/src/main/java/org/dkpro/core/io/brat/DKPro2Brat.java
  dkpro-core-io-conll-asl/src/test/resources/conll/2002/germeval2014_test.conll.out
  dkpro-core-io-json-asl/src/test/resources/conll/2000/chunk2000_ref.json
  dkpro-core-io-negra-asl/src/test/resources/format4-with-coref-sample.export.dump
  dkpro-core-io-negra-asl/src/test/resources/sentence.export.dump
  dkpro-core-io-negra-asl/src/test/resources/tiger-sample.export.dump
  dkpro-core-io-negra-asl/src/test/resources/tueba-sample.export.dump
  dkpro-core-io-tiger-asl/src/test/resources/semeval1010-sample.xml.dump
  dkpro-core-io-tiger-asl/src/test/resources/tiger-sample.xml.dump
  dkpro-core-io-xces-asl/src/test/resources/xces-complex.xml.dump
  dkpro-core-io-xmi-asl/src/test/resources/xmi/english.xmi
Labels: Module-api.segmentation, 🆕Enhancement

#1374 #1362 - NifWriter does not write out NE identifier
  dkpro-core-io-nif-asl/src/main/java/org/dkpro/core/io/nif/internal/DKPro2Nif.java
  dkpro-core-io-nif-asl/src/test/java/org/dkpro/core/io/nif/NifReaderWriterTest.java
  dkpro-core-io-nif-asl/src/test/resources/nif/freme/README.txt
  dkpro-core-io-nif-asl/src/test/resources/nif/freme/freme-cooked.ttl
  dkpro-core-io-nif-asl/src/test/resources/nif/freme/freme.ttl
  dkpro-core-io-nif-asl/src/test/resources/nif/freme/ref.ttl
  dkpro-core-io-nif-asl/src/test/resources/nif/kore50/ref.ttl
Labels: Module-io.nif, 🐛Bug

#1375 #1356 - Rename lancaster module to smile
  dkpro-core-asl/pom.xml
  dkpro-core-smile-asl/LICENSE.txt
  dkpro-core-smile-asl/pom.xml
  dkpro-core-smile-asl/src/main/java/org/dkpro/core/smile/SmileLancasterStemmer.java
  dkpro-core-smile-asl/src/main/java/org/dkpro/core/smile/package-info.java
  dkpro-core-smile-asl/src/main/resources/org/dkpro/core/lancaster/LancasterStemmer_Messages.properties
  dkpro-core-smile-asl/src/test/java/org/dkpro/core/smile/SmileLancasterStemmerTest.java
  dkpro-core-smile-asl/src/test/resources/Lancaster_test_rules.txt
  dkpro-core-smile-asl/src/test/resources/log4j2.xml
Labels: Module-smile, ⚙️Refactoring

#1297 Feature/issue1190 maui
  .gitignore
  dkpro-core-gpl/pom.xml
  dkpro-core-maui-gpl/.license-header.txt
  dkpro-core-maui-gpl/LICENSE.txt
  dkpro-core-maui-gpl/pom.xml
  dkpro-core-maui-gpl/src/main/java/org/dkpro/core/maui/MauiKeywordAnnotator.java
  dkpro-core-maui-gpl/src/test/java/org/dkpro/core/maui/MauiKeywordAnnotatorTest.java
  dkpro-core-maui-gpl/src/test/resources/README.txt
  dkpro-core-maui-gpl/src/test/resources/fao30.model.gz
  dkpro-core-maui-gpl/src/test/resources/log4j.properties
  dkpro-core-maui-gpl/src/test/resources/texts/input.txt
Labels: Module-maui, 🆕Enhancement

#1377 #1376 - Update TreeTagger build.xml
  dkpro-core-treetagger-asl/pom.xml
  dkpro-core-treetagger-asl/src/scripts/build.xml
  dkpro-core-treetagger-asl/src/test/java/org/dkpro/core/treetagger/TreeTaggerPosTaggerTest.java
Labels: Module-treetagger, 🆕Enhancement

#1347 Feature/1346 reader for annotated gigaword
  dkpro-core-asl/pom.xml
  dkpro-core-io-gigaword-asl/LICENSE.txt
  dkpro-core-io-gigaword-asl/pom.xml
  dkpro-core-io-gigaword-asl/src/main/java/org/dkpro/core/io/gigaword/AnnotatedGigawordReader.java
  dkpro-core-io-gigaword-asl/src/main/java/org/dkpro/core/io/gigaword/internal/AnnotatedGigawordArticle.java
  dkpro-core-io-gigaword-asl/src/main/java/org/dkpro/core/io/gigaword/internal/AnnotatedGigawordDocuments.java
  dkpro-core-io-gigaword-asl/src/main/java/org/dkpro/core/io/gigaword/internal/AnnotatedGigawordParser.java
  dkpro-core-io-gigaword-asl/src/test/java/org/dkpro/core/io/gigaword/AnnotatedGigawordReaderTest.java
  dkpro-core-io-gigaword-asl/src/test/resources/texts/gigaword_test_1.txt
  dkpro-core-io-gigaword-asl/src/test/resources/texts/gigaword_test_2.txt
Labels: Module-io.gigaword, 🆕Enhancement

#1383 #1381 - Annotations starting/ending in inter-token space cause exception
  dkpro-core-io-webanno-asl/src/main/java/org/dkpro/core/io/webanno/tsv/internal/tsv3x/Tsv3XCasDocumentBuilder.java
  dkpro-core-io-webanno-asl/src/test/java/org/dkpro/core/io/webanno/tsv/WebAnnoTsv3WriterTestBase.java
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespace/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespace/reference.xmi
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespaceAtStart/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespaceAtStart/reference.xmi
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespace/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespace/reference.xmi
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespaceAtEnd/reference.tsv
  dkpro-core-io-webanno-asl/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespaceAtEnd/reference.xmi
Labels: Module-io.webanno, 🐛Bug
