Repository dkpro/dkpro-core, pull requests merged in 2019-07, with the labels that each got.

#1388 #1382 - TEI reader seems not to be trimming whitespace
  dkpro-core-io-tei-asl/src/main/java/org/dkpro/core/io/tei/TeiReader.java
  dkpro-core-io-tei-asl/src/test/java/org/dkpro/core/io/tei/TeiReaderTest.java
  dkpro-core-io-tei-asl/src/test/java/org/dkpro/core/io/tei/TeiReaderWriterTest.java
  dkpro-core-io-tei-asl/src/test/resources/reference/example1_out.xml
Labels: Module-io.tei, 🐛Bug

#1389 #1379 - Add generic XML types
  dkpro-core-api-xml-asl/src/main/java/org/dkpro/core/api/xml/Cas2SaxEvents.java
  dkpro-core-api-xml-asl/src/main/resources/desc/type/XmlStructure.xml
  dkpro-core-doc/src/main/asciidoc/typesystem-reference/images/ts_xml.png
  dkpro-core-doc/src/main/asciidoc/typesystem-reference/sectionIntroXML.adoc
  dkpro-core-doc/src/main/odf/figures.odp
  dkpro-core-io-xml-asl/src/main/java/org/dkpro/core/io/xml/XmlReader.java
Labels: Module-api.xml, Module-doc, Module-io.xml, 🆕Enhancement

#1390 #1378 - BratReader crashes when an annotation covers more than two spans of text
  dkpro-core-io-brat-asl/src/main/java/org/dkpro/core/io/brat/internal/model/BratTextAnnotation.java
Labels: Module-io.brat, 🐛Bug

#1396 #388 - Move StopwordRemover into tokit module
  dkpro-core-asl/pom.xml
  dkpro-core-stopwordremover-asl/LICENSE.txt
  dkpro-core-stopwordremover-asl/pom.xml
  dkpro-core-stopwordremover-asl/src/main/java/org/dkpro/core/stopwordremover/package-info.java
  dkpro-core-tokit-asl/pom.xml
  dkpro-core-tokit-asl/src/main/java/org/dkpro/core/tokit/StopWordRemover.java
  dkpro-core-tokit-asl/src/main/java/org/dkpro/core/tokit/internal/StopWordSet.java
  dkpro-core-tokit-asl/src/test/java/org/dkpro/core/tokit/StopWordRemoverTest.java
  dkpro-core-tokit-asl/src/test/resources/stopwords1.txt
  dkpro-core-tokit-asl/src/test/resources/stopwords2.txt
Labels: Module-stopwordremover, Module-tokit, ⚙️Refactoring

#1394 Unescape %20 in file names in JCasFileWriter_ImplBase
  dkpro-core-api-io-asl/src/main/java/org/dkpro/core/api/io/JCasFileWriter_ImplBase.java
  dkpro-core-api-io-asl/src/test/java/org/dkpro/core/api/io/JCasFileWriter_ImplBaseTest.java
Labels: Module-api.io, 🐛Bug

#1398 #1395 - Stanford NER trainer raises helpful exception when no data received
  dkpro-core-stanfordnlp-gpl/pom.xml
  dkpro-core-stanfordnlp-gpl/src/main/java/org/dkpro/core/stanfordnlp/StanfordNamedEntityRecognizerTrainer.java
  dkpro-core-stanfordnlp-gpl/src/test/java/org/dkpro/core/stanfordnlp/StanfordNamedEntityRecognizerTrainerTest.java
Labels: Module-stanfordnlp, 🆕Enhancement
